/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge (older versions) */
* {
  -ms-overflow-style: none;
}
